<!-- Modale Flash danger message-->
<div id="modalDanger" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AjoutRoleLabel"
    aria-hidden="true" data-keyboard="true">
    <div class="modal-dialog  alert-danger">

        <div id="msg-mdl-danger" class="alert alert-danger">

        </div>

    </div>
</div>

<!-- Modale Flash warning message-->
<div id="modalWarning" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AjoutRoleLabel"
    aria-hidden="true" data-keyboard="true">
    <div class="modal-dialog  alert-warning">

        <div id="msg-mdl-warning" class="alert alert-warning">

        </div>

    </div>
</div>

<!-- Modale Flash info message-->
<div id="modalInfo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AjoutRoleLabel" 
    aria-hidden="true" data-keyboard="true">
    <div class="modal-dialog  alert-info">

        <div id="msg-mdl-info" class="alert alert-info">

        </div>

    </div>
</div>

<!-- Modale Flash success message-->
<div id="modalSuccess" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AjoutRoleLabel"
    aria-hidden="true" data-keyboard="true">
    <div class="modal-dialog  alert-success">

        <div id="msg-mdl-success" class="alert alert-success">

        </div>

    </div>
</div>