{% extends "base.html.twig" %}
{% form_theme edit_form 'Form/bootstrap_3_layout.html.twig' %}
{% block title %}Modification - Prestation{% endblock %}
{% block bodysaisie %}
{#{% include "@App/messages.html.twig" %}#}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2> Modification - Prestation </h2>
    </div>
    <div class="panel-body">
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
       <p>
          <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-edit"></i> Modifier</button>
       </p>
    {{ form_end(edit_form) }}
    </div>
    <div class="panel-footer">
        <div class="btn-group record_actions">
            <a class="btn btn-info" href="{{ path('prestation_show',{id: prestation.id | Mycrypt}) }}">
                <i class="glyphicon glyphicon-list"></i> Retour
            </a>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script>
</script>
{% endblock %}