<h4>Bonjour {{ name }}!</h4>
<p>Votre compte est bien crééer. </p>
<hr>
<p>Votre compte : <b>{{id}} </b></p>
<p>Votre mot de passe : <b>{{mp}}</b> </p>
<hr>
<p>veuillez le changer une fois connecté. </p>
<p><a href="{{ url('login') }}">Pour accedez au site veuillez cliquer ici.</a> </p>
<p>Merci.</p> 