{% extends "base.html.twig" %}

{% block title %}Inscriprion{% endblock %}

{% block bodysaisie %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="text-center">Enregistrer</h4>
        </div>
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}
