{% extends "base.html.twig" %}

{% block title %}Changement Mot de passe{% endblock %}

{% block bodysaisie %}
     <div class="col-md-2"></div>
    <div class="panel panel-default col-md-8">
        <div class="panel-heading">
            <h3 class="text-center">Changement mot de passe</h4>
        </div>
        <table class="table table-condensed ">
            <tbody>
                <tr>
                    <th scope="row">Nom</th>
                    <td>{{ user.nom}}</td>
                </tr>

            </tbody>
        </table>
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>
     <div class="col-md-2"></div>

{% endblock %}
